.carousel {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;

  @media( --desk ) {
    height: 750px;
  }

  &:after {
    position: absolute null 0 0 0;
    height: 7.5em;
    content: '';
    display: block;
    background-image: linear-gradient( rgba( 50, 50, 50, 0 ), rgba( 50, 50, 50, .25 ) );
  }

  & .carousel__pagination {
    display: flex;
    justify-content: center;
    position: absolute null null 2em 50%;
    transform: translateX( -50% );
    z-index: 5;

    & .carousel__pager {
      border-radius: 50%;
      border: 1px solid white;
      display: block;
      height: 1.5em;
      padding: 0;
      margin: 0 .5em 0 .5em;
      transition: all 50ms linear;
      width: 1.5em;
      cursor: pointer;

      &.is--active {
        background-color: white;
      }
    }
  }

  & .carousel__button {
    background-size: cover;
    color: white;
    height: 3em;
    width: 3em;
    z-index: 10;
    cursor: pointer;

    &.carousel__button--previous {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-left-circle'><circle cx='12' cy='12' r='10'></circle><polyline points='12 8 8 12 12 16'></polyline><line x1='16' y1='12' x2='8' y2='12'></line></svg>");
      position: absolute null null 1em 1em;

      @media( --desk ) {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-left-circle'><polyline points='12 8 8 12 12 16'></polyline><line x1='16' y1='12' x2='8' y2='12'></line></svg>");
        position: absolute 50% null null -1px;
        border: 1px solid white;
        padding: 2em;
        opacity: .8;
        transition: all 100ms linear;

        &:hover {
          opacity: 1;
        }
      }
    }

    &.carousel__button--next {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-right-circle'><circle cx='12' cy='12' r='10'></circle><polyline points='12 16 16 12 12 8'></polyline><line x1='8' y1='12' x2='16' y2='12'></line></svg>");
      position: absolute null 1em 1em null;

      @media( --desk ) {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='1' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-right-circle'><polyline points='12 16 16 12 12 8'></polyline><line x1='8' y1='12' x2='16' y2='12'></line></svg>");
        position: absolute 50% -1px null null;
        border: 1px solid white;
        padding: 2em;
        opacity: .8;
        transition: all 100ms linear;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
