.slide {
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & .slide__container {
    width: 90%;
    margin-right: auto;
    margin-left: 5%;
    max-width: 400px;

    @media( --desk ) {
      max-width:500px;
      margin-left: 50%;
      transform: translateX( -450px );
    }
  }

  & .slide__content {

    & small {
      text-transform: uppercase;
      color: white;
      font-size: 1.2em;
      letter-spacing: .05em;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bolder;
      text-shadow: 1px 1px 4px rgba( 10, 10, 10, .5 );
    }

    & h1 {
      color: white;
      font-weight: lighter;
      font-size: 3em;
      font-family: Georgia, Times, "Times New Roman", serif;
      margin-top: .25em;
      text-shadow: 1px 1px 4px rgba( 10, 10, 10, .5 );

      @media( --lap ) {
        font-size: 4em;
      }

      @media( --desk ) {
        font-size: 5.5em;
      }
    }

    & a {
      background-color: white;
      color: #ff0051;
      padding: 1em 2em;
      font-size: 1.5em;
      text-decoration: none;
      display: inline-block;
      box-shadow: 1px 1px 10px rgba( 10, 10, 10, .15 );

      @media( --desk ) {
        font-size: 1.75em;
      }
    }
  }

  &.is--active {
    opacity: 1;
  }

  @nest [data-transition='fade'] & {
    transition: all 500ms linear;
  }
}
